#information {
    height: 1200px;
    position: relative;
}

#left-side {
    height: 500px;
    padding-top: 40px;
    width: 50%;
    float: left;
    font-size: 16px;
    position: relative;
}

#right-side {
    height: 500px;
    padding-top: 40px;
    width: 50%;
    float: right;
    font-size: 16px;
    position: relative;
}

#right-side h2 {
    width: 80%;
    float: left;
    margin-top: 50px;
    margin-right: 40px;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
}

#right-side p {
    font-size: 24px;
    margin-top: 25px;
    margin-left: 10px;
}

#left-image>img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

#right-image>img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.goals-left-side {
    width: 85%;
    list-style-type: none;
    margin: 10px 10px 50px 130px;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
}

.goals-left-side li {
    list-style-type: circle;
    width: 85%;
    margin-left: 25px;
    font-weight: lighter;
    font-size: 24px;
}



hr {
    border-top: 1px solid #142464;
    width: 100%;
    margin: 10px 0;

}

#right-image {
    height: 400px;
    padding-top: 40px;
    width: 50%;
    float: right;
}

#left-image {
    height: 400px;
    width: 50%;
    float: left;
}

#meetings {
    width: 90%;
    float: left;
    margin-right: 40px;
    margin-left: 10px;
    line-height: 30px;
    clear: both;
    margin-bottom: 20px;
}

#information hr {
    border-top: 1px solid #142464;
    width: 90%;
    margin: 10px 0;
}