  @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Carter+One&family=Lato:wght@300&display=swap');

  * {
      margin: 0;
      padding: 0;
      border: none;

  }

  body {
      font-family: assistant, sans-serif;
      color: #142464
  }

  /* logo, menu and heading style */

  h1 {
      text-transform: uppercase;
      letter-spacing: -1px;
      padding-left: 20px;
  }

  #logo,
  #menu {
      font-family: 'assistant', sans-serif;
      color: #142464;
      line-height: 65px;

  }

  #logo {
      height: 90px;
      float: left;
      font-size: 230%;
      font-family: 'Carter one', sans-serif;
  }

  #menu {
      font-size: 120%;
      margin-right: 40px;
  }

  #menu li {
      float: right;
      list-style-type: none;
      margin: 25px;
      line-height: 50%;
  }

  #menu a {
      text-decoration: none;
  }

  #menu li a:hover {
      margin: 1px;
      padding: 5px;
  }

  .active {
      border-bottom: 2px solid #142464;
  }

  /*hero-image*/

  #hero-image {
      height: 700px;
      width: 100%;
      background-image: url('/assets/images/front-view-pile-books-with-copy-space.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      clear: both;
      position: relative;
      text-align: center;
  }

  #cover-text {
      font-size: 200%;
      max-width: 400px;
      font-family: Assistant, sans-serif;
      text-transform: uppercase;
      background-color: rgba(214, 211, 223, 0.6);
      margin-top: 20px;
      right: 250px;
      position: absolute;
      font-style: oblique;
  }

  /* reasons to join us section */

  #reasons {
      margin-top: 40px;
      text-transform: none;
  }

  #reasons>h2 {
      font-size: 36px;
      text-align: center;
      padding: 5px 150px 20px 150px;
      text-transform: none;
      margin-bottom: 50px;

  }

  .welcome {
      font-size: 20px;
      font-style: italic;
  }

  /*Goals and meetings information*/
  #information{
      height: 1200px;

  }

  #our-goals,
  #left-image,
  #hangouts,
  #right-image {
      height: 500px;
  }

  #right-image img {
      width: 40%;
      height: 500px;
      float: right;
  }

  #left-image img {
      width: 40%;
      height: 500px;
      float: left;
  }

  #hangouts {
      float: right;
      width: 50%;
      text-align: left;
  }

  #hangouts h2 {
    padding: 20px;
    width: 80%;
}

  #our-goals {
      float: left;
      width: 50%;
      text-align: right;

  }
  #our-goals h2{
    padding: 20px;
    width: 80%;
  }
  #hangouts p {
    width: 80%;
    float: left;
    font-size: 24px;

  }
  .goals-list {
    width: 80%;
    float: right;
  }
  .goals-list li {
    font-weight: lighter;
  }
  hr { 
    border: 1px solid #142464;
  }
  

  /*Donations*/

  #books-available {
      height: 60px;
      font-size: 32px;
      text-align: center;
      clear: both;
      background-color: #142464;
      color: #fff;
      text-transform: uppercase;

  }

  #suggested-books {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

  }

  #suggested-books>img {
      width: 300px;
      height: 450px;
      border: 4px solid #142464;

      padding: 5px;
      margin: 40px;
  }

  #suggested-books>img:hover {
      border: 1px solid;
      background-color: #ff3c00f3;
  }

  /*Join us form */
  .form {
      width: 100%;
      background: url('/assets/images/cover-form.png');
      height: 900px;
      background-repeat: no-repeat;
      background-size: 100%;
      clear: left;
      padding-bottom: 50px;
      position: relative;
  }

  .join-in-us-form,
  .text-input,
  .age,
  .join-now {
      font-size: 18px;

  }

  .join-in-us-form {
      color: #142464;
      background-color: rgba(214, 211, 223, 0.6);
      max-width: 400px;
      position: absolute;
      padding: 30px;
      margin-top: 20px;
      right: 250px;
  }

  .join-in-us-form h2 {
      color: #142464;
      margin-bottom: 20px;
  }

  .text-input {
      background: transparent;
      color: #ffffff;
      width: 100%;
      height: 25px;
      margin: 5px 0 20px 0;
      border: 2px solid #ffffff;
      border-radius: 5px;
  }

  .text-input:hover {
      border-color: #142464;
  }

  .age {
      width: 30%;
      padding: 5px;
      border-radius: 5px;
      margin: 15px 0 15px 15px;
      background-color: #142464;
      ;
      color: #ffffff
  }

  .age:hover {
      background-color: #ffffff;
      color: #142464;

  }

  .join-now {
      width: 80%;
      text-align: center;
      border-radius: 5px;
      padding: 15px 32px 15px 32px;
      text-align: center;
      font-size: 100%;
      background-color: #142464;
      color: #ffffff;
      display: block;
  }

  .join-now:hover {
      background-color: #ffffff;
      color: #142464;
  }


  /*footer*/
  footer {
      height: 120px;
      width: 100%;
      background-color: rgb(20, 36, 100, 0.9);
      margin: 0;
      position: absolute;

  }

  footer p {
      color: hsl(225, 24%, 74%, 0.9);
      text-align: center;
      margin-bottom: 5%;
  }

  .social-network {
      text-align: center;

  }

  .social-network li {
      display: inline;
  }

  .social-network i {
      color: hsl(225, 24%, 74%, 0.9);
      font-size: 180%;
      margin: 2, 5%;
      padding: 2%;
      letter-spacing: 5px;
  }

  /*media queries (for large screens)*/

  @media screen and (max-width: 1200px) {}