  @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Carter+One&family=Lato:wght@300&display=swap');

  * {
      margin: 0;
      padding: 0;
      border: none;
  }

  body {
      font-family: assistant, sans-serif;
      color: #142464
  }

  /* logo, menu and heading style */

  h1 {
      text-transform: uppercase;
      letter-spacing: -1px;
      padding-left: 20px;
  }

  #logo,
  #menu {
      font-family: 'assistant', sans-serif;
      color: #142464;
      line-height: 65px;

  }

  #logo {
      float: left;
      font-size: 230%;
      font-family: 'Carter one', sans-serif;
  }

  #menu {
      font-size: 120%;
  }

  #menu li {
      float: right;
      list-style-type: none;
      margin: 25px;
      line-height: 50%;
  }

  #menu a {
      text-decoration: none;
  }

  #menu li a:hover {
      margin: 1px;
      padding: 5px;
      background-color: #fff;
  }

  .active {
      border-bottom: 1px solid #142464;
  }

  /*main image*/

  #main-image {
   height: 800px;
   width: 100%;
   background-image: url('../images/front-view-pile-books-with-copy-space.jpg');
   background-repeat: no-repeat;
   background-size: 100%;
   clear: both;
  }
#cover-text, #cover-text h2 {
    color: white;
}
#cover text > h3 {
    font-size: smaller;
}
#cover-text {
    font-size: 200%;
    font-family: Assistant, sans-serif;
    text-transform: uppercase;
    
    width: 390px;
    height: 250px;
    padding-top: 20px;
    padding-left: 50px;

    background-color: hsl(225, 24%, 74%, 0.9);
    
    bottom: 70px;
    right: 40px;

    position: absolute;
}

#popular-books {
    line-height: 50px;
    column-count: 3;
    column-gap: 50px;
    margin: 50px;
}

#popular-books > img {
    width: 100%;
}
/*suggestions*/
#cover-picture  {
    background-image: url('/assets/images/cover-recommentadions.png');
    clear: both;
}
/*footer*/
footer {
    height: 120px;
    background-color: rgb(20, 36, 100, 0.9);
       
}
footer h3 {
    color: hsl(225, 24%, 74%, 0.9);
    text-align: center;
}
.social-network {
    text-align: center;

}
.social-network > li{
    display: inline;
}
.social-network i {
    color: hsl(225, 24%, 74%, 0.9);
    font-size: 180%;
    margin: 2,5%;
    padding: 2%;
    letter-spacing: 5px;
}
