@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Lato:wght@300&family=Oswald:wght@300&display=swap');
</style>

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: assistant, sans-serif;
    font-weight: 900;
}