  @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Carter+One&family=Lato:wght@300&display=swap');

  * {
      margin: 0;
      padding: 0;
      border: none;

  }

  body {
      font-family: assistant, sans-serif;
      color: #142464
  }

  /* logo, menu and heading style */

  h1 {
      text-transform: uppercase;
      letter-spacing: -1px;
      padding-left: 20px;
  }

  #logo,
  #menu {
      font-family: 'assistant', sans-serif;
      color: #142464;
      line-height: 65px;

  }

  #logo {
      height: 90px;
      float: left;
      font-size: 230%;
      font-family: 'Carter one', sans-serif;
  }

  #menu {
      font-size: 120%;
  }

  #menu li {
      float: right;
      list-style-type: none;
      margin: 25px;
      line-height: 50%;
  }

  #menu a {
      text-decoration: none;
  }

  #menu li a:hover {
      margin: 1px;
      padding: 5px;
  }

  .active {
      border-bottom: 2px solid #142464;
  }

  /*main image*/

  #main-image {
      height: 800px;
      width: 100%;
      background-image: url('/assets/images/front-view-pile-books-with-copy-space.jpg');
      background-repeat: no-repeat;
      background-size: 100%;
      clear: both;
      position: relative;
  }

  #cover-text,
  #cover-text h2 {
      color: white;
  }

  #cover text>h3 {
      font-size: smaller;
  }

  #cover-text {
      font-size: 200%;
      font-family: Assistant, sans-serif;
      text-transform: uppercase;

      width: 390px;
      height: 250px;
      padding-top: 20px;
      padding-left: 50px;

      background-color: rgba(173, 181, 205, 0.9);

      bottom: 70px;
      right: 40px;

      position: absolute;
  }

  /* reasons to join us section */

  #reasons {
      margin-top: 40px;
      text-transform: none;
  }

  #reasons>h2 {
      font-size: 36px;
      text-align: center;
      padding: 5px 150px 20px 150px;
      text-transform: none;
      margin-bottom: 50px;

  }

  .welcome {
      font-size: 20px;
      font-style: italic;
  }

  /*Goals and meetings information*/
  #information {
      height: 1200px;
  }

  #left-side {
      height: 400px;
      padding-top: 40px;
      width: 50%;
      float: left;
      font-size: 16px;
  }

  #right-side {
      height: 400px;
      padding-top: 40px;
      width: 50%;
      float: right;
      font-size: 16px;
  }
#right-side p {
    font-size: 24px;
    margin-left: 10px;
}
  #left-image>img {
      width: 100%;
  }

  #right-image>img {
      width: 100%;
  }

  .goals-left-side {
      width: 90%;
      list-style-type: none;
      margin-left: 130px;
      line-height: 30px;
      clear: both;
      margin-bottom: 50px;
  }
 .goals-left-side li {
    list-style-type: square;
    width: 90%;
    margin-left: 25px;
    font-weight: lighter;
    font-size: 24px;
 } 
  .directions-right-side {
      width: 80%;
      float: left;
      margin-right: 40px;
      line-height: 30px;
      clear: both;
      margin-bottom: 50px;
  }

  hr {
      border-top: 1px solid #142464;
      width: 100%;
      margin: 10px 0;
      
  }

  #right-image {
      height: 400px;
      padding-top: 40px;
      width: 50%;
      float: right;
  }

  #left-image {
      height: 400px;
      width: 50%;
      float: left;
  }

  #meetings {
      width: 90%;
      float: left;
      margin-right: 40px;
      margin-left: 10px;
      line-height: 30px;
      clear: both;
      margin-bottom: 20px;
  }
  #information hr {
    border-top: 1px solid #142464;
    width: 90%;
    margin: 10px 0;
  }

  /*Donations*/

  #books-available {
      width: 100%;
      height: 60px;
      font-size: 200%;
      text-align: center;
      margin-top: auto;
      clear: both;
      background-color: #142464;
      color: #fff;
      text-transform: uppercase;

  }

  #books-available p {
      margin-top: 25px;
      text-align: center;
      color: #142464;
      font-size: 25px;
      text-transform: none;

  }

  #suggested-books {
      clear: both;
      column-count: 3;
      margin: 80px 0 50px 50px;
      padding: 2px;
      column-gap: 5px;
  }

  #suggested-books>img {
      float: left;
      width: 300px;
      height: 450px;
      padding: 25px;
      border: 1px solid #adb5cde6;

  }

  /*footer*/
  footer {
      height: 120px;
      background-color: rgb(20, 36, 100, 0.9);

  }

  footer h3 {
      color: hsl(225, 24%, 74%, 0.9);
      text-align: center;
  }

  .social-network {
      text-align: center;

  }

  .social-network>li {
      display: inline;
  }

  .social-network i {
      color: hsl(225, 24%, 74%, 0.9);
      font-size: 180%;
      margin: 2, 5%;
      padding: 2%;
      letter-spacing: 5px;
  }